{% extends 'when_the_light_go_down/base.html' %}
{% load static %}
{% block title %}fiche de {{ fiche.user }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title text-center">{{ fiche.prenom_perso }} {{ fiche.nom_perso }}</h5>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <img class="img-fluid shadow-lg" src="{{ fiche.photo.url }}"/>
                    </div>
                </div>
                <p class="card-text">{{ fiche.description_perso }}</p>
                connaissance : {{ fiche.connaissance }}
            </div>
        </div>
    </div>
{% endblock %}