<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Menu</title>
    </head>

    <body>
    <p style="text-align: center;"><strong><span style="font-size: 20.0pt; line-height: 107%;">When The light Go down</span></strong><span style="font-size: 20.0pt; line-height: 107%;"><br /></span><em><span style="font-size: 14.0pt; line-height: 107%;">-serveur RP-</span></em></p>
<p>Voici le mini-site qui regroupe toutes les informations &agrave; savoir sur le serveur RP de When the light go down.</p>
<p><strong>Lien vers le serveur de When the light go down&nbsp;: </strong><a href="https://discord.gg/KSmwvBJ">https://discord.gg/KSmwvBJ<a/></p>
<p>&nbsp;</p>
<p style="text-align: center;"><u><span style="font-size: 16.0pt; line-height: 107%;">Menu</span></u></p>

<nav>
	<ul>
	<li><a href="gestion-rp.ezo2.eu/wtlgd/villes">Villes</a></li>
	<li><a href="gestion-rp.ezo2.eu/wtlgd/race">Races</a></li>
	<li><a href="gestion-rp.ezo2.eu/wtlgd/prologue_genese">Prologue et Genèse </a></li>
	<li><a href="gestion-rp.ezo2.eu/wtlgd/magie">Magie </a></li>
	<li><a href="gestion-rp.ezo2.eu/wtlgd/table_prix">Table des prix </a></li>
	<li><a href="gestion-rp.ezo2.eu/wtlgd/salaire_foncier"> Tables des salaires et prix fonciers </a></li>
	</ul>
</nav>
<p><u>Notes&nbsp;:</u></p>
<p>WtLgd est un serveur RP, con&ccedil;u par Shobu13. Il servira de base &agrave; la conception d&rsquo;un jeux-vid&eacute;o (VN ou RPG, on ne sait pas encore trop). Le jeu sera fait par le cercle ind&eacute; Ezo II.</p>
<p>Discord d'Ezo II:&nbsp; <a href="https://discord.gg/8kqnsZb">https://discord.gg/8kqnsZb<a/><br />Site VN&nbsp; : <a href="http://vn.ezo2.eu/">http://vn.ezo2.eu/<a/> <br />Site du groupe : <a href="http://www.ezo2.eu">http://www.ezo2.eu/<a/></p>
    </body>
</html>