<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Race</title>
    </head>

    <body>
    <p style="text-align: center;"><strong><span style="font-size: 18.0pt; line-height: 107%;">Races</span></strong></p>
<p>&nbsp;</p>
<p><strong><span style="font-size: 12.0pt; line-height: 107%;">Hrii gof'nn (d&eacute;mons) :</span></strong> Pr&eacute;sentent des mutations tel que des ailes / cornes / queue ainsi qu'un force/endurence/r&eacute;sistence aux maladies accrue(modifi&eacute;)</p>
<p><strong><span style="font-size: 12.0pt; line-height: 107%;">Hrii orr'e (ange) :</span></strong> Pr&eacute;sentent des mutations tel que des ailes de cuir blanc/ emplum&eacute;e. R&eacute;sistent aux maladies et &agrave; la vieillesse mais disposent d'une force &eacute;gale &agrave; celles des humains lambda. Meilleure affinit&eacute; avec la magie, memoire tr&egrave;s longue.</p>
<p><strong><span style="font-size: 12.0pt; line-height: 107%;">Hybris (furry/hybrides) :</span></strong>&nbsp; race relativement classique des univers fantasy, les membres b&eacute;n&eacute;ficient l&eacute;g&egrave;rement des aptitudes de leur croisement, un neko par exemple s'habituera mieux au noir qu'un humain mais ne sera pas 100% nyctalope</p>
<p><strong><span style="font-size: 12.0pt; line-height: 107%;">Sang m&ecirc;l&eacute; (harry potter) :</span></strong> Issue d'un accouplement entre race diff&eacute;rente, ils ne b&eacute;n&eacute;ficient que tr&egrave;s rarement de capacit&eacute; sup&eacute;rieure et son plus sujet aux maladies que les autres esp&egrave;ces. Ils peuvent garder certains trais de leurs parent (queue, ailes, peau, ect...) mais peu de pouvoirs/capacit&eacute;s.</p>
    
	<a href="gestion-rp.ezo2.eu/wtlgd/menu_wtlgd">Retour</a>
	</body>
</html>