<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Villes</title>
    </head>

    <body>
    <p style="text-align: center;"><strong><span style="font-size: 18.0pt; line-height: 107%;">Villes</span></strong></p>
<p>&nbsp;</p>
<p><strong><span style="font-size: 14.0pt; line-height: 107%;">Pandore :</span></strong> Ville situ&eacute;e dans le d&eacute;sert de Ng'ull, majoritairement contr&ocirc;l&eacute;e par la p&egrave;gre</p>
<p><strong><span style="font-size: 14.0pt; line-height: 107%;">Vallaha :</span></strong> ancien bastion des Ulc'thalshub, principalement habit&eacute; par les Hrii orr'e (anges), ils vivent dans un syst&egrave;me de caste bas&eacute; sur le savoir et la conservation de la connaissance. La caste la plus haute est compos&eacute; d'individu utilisant fr&eacute;quemment la magie et portant de grave s&eacute;quelle physique et mentales, restant ainsi enferm&eacute; toutes leur vie, servant de 'r&eacute;servoir'.</p>
<p><strong><span style="font-size: 14.0pt; line-height: 107%;">Atlantis :</span></strong> Ancienne capitale de la grande race et partiellement enterr&eacute;e depuis un effondrement du sol, elle est habit&eacute;e principalement d'hybrides et de quelques humains qui ne sortent que tr&egrave;s rarement de cette ville, cette derni&egrave;re &eacute;tant &agrave; ce jour plus une l&eacute;gende qu'autre chose. La majeure partie de l'infrastructure se compose de ruine des anciennes habitations dans lesquelles vivent les habitants. On y retrouve un certain nombre de technologie provenant des de la grande race. ainsi que (sans doute la derni&egrave;re) une&nbsp; tekel'd ugthaa non fonctionnelle.</p>
<p><strong><span style="font-size: 14.0pt; line-height: 107%;">Antiopolis :</span></strong> Capitale commerciale o&ugrave; toutes les races se c&ocirc;toient, architecture &eacute;gyptienne et proche de la mer</p>
    
	<a href="gestion-rp.ezo2.eu/wtlgd/menu_wtlgd">Retour</a>
	</body>
</html>